.addCommentForm{
    display:inline;
}
textarea {
    width: 80%;
    color: #54a9ff;
    height: 3em;
    padding: 2px;
    resize: none;
}

.addComment {
    height: 3.5em;
    vertical-align: top;
}