header {
  background-image: linear-gradient(to right, white, #54a9ff, #0681fb);
  box-sizing: border-box;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#logo {
  width: 15%;
  transition: all 0.3s ease-in-out;
}

nav {
  color: #0681fb;
  margin-bottom: 3px;
}

.header-button,
.login-form input {
  border: 1px solid lightskyblue;
  background-color: white;
  text-decoration: none;
  padding: 4px;
  border-radius: 3px;
}

.current-user-display {
  display: flex;
  color: white;
  font-size: 1.5em;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}

.registration-msg {
  text-align: center;
}

@media screen and (max-width: 760px) {
  header {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  #logo {
    width: 20%;
  }

  .header-button,
  .login-form input {
    padding: 2px;
  }

  .current-user-display {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {

  .header-button,
  .login-form input {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 375px) {

  .header-button,
  .login-form input {
    font-size: 0.55em;
  }
}

@media screen and (max-width: 341px) {

  .header-button,
  .login-form input {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 316px) {

  .header-button,
  .login-form input {
    font-size: 0.4em;
  }
}